.layout {
  &__content {

    min-height: calc(100vh - 6rem);

    &--minimal {
      min-height: calc(100vh - 6rem);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}